<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/connexion"></ion-back-button>
    </ion-buttons>
    <ion-title>Vérification mail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Vérification de l'adresse mail</h2>
      <p>
        Un mail vous a été envoyé pour vérifier votre adresse mail.
        <br>
        Clickez sur le lien dans le mail pour activer votre compte.
      </p>
    </ion-row>
    <ion-button type="submit" (click)="authService.sendVerificationMail()" expand="block" shape="round">
      <ion-icon name="paper-plane-outline"> </ion-icon>
      Renvoyez l'email de vérification
    </ion-button>
  </ion-grid>
</ion-content>
