<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start">
      <ion-menu-button color="dark" menu="main-menu"></ion-menu-button>
    </ion-button>
    <ion-title size="large">Nouvelle enchère</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="padding">
    <div class="logo">
      <!--TODO Gérer l'importation d'images-->
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </div>
    <ion-item>
      <ion-label position="stacked">Nom du bien</ion-label>
      <ion-input disabled="false"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description du bien</ion-label>
      <ion-input disabled="false"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Prix plancher (€)</ion-label>
      <!-- value="{{enchere.prix}}" min="{{enchere.prix}}"-->
      <ion-input type="number" value="0" min="0"></ion-input>
    </ion-item>
  </div>
  <div align="center">
    <ion-button (click)="$event">Créer</ion-button>
  </div>
</ion-content>



