<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start">
      <ion-menu-button color="dark" menu="main-menu"></ion-menu-button>
    </ion-button>
    <ion-title size="large">Nouvelle enchère</ion-title>
    <ion-buttons slot="end">
      <ion-back-button icon="close-outline" default-href="/mes-encheres"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="creerEnchereForm" (ngSubmit)="formSubmit()">
    <div class="padding">

      <div class="logo">
        <!--TODO Gérer l'importation d'images-->
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </div>
      <ion-item>
        <ion-label position="stacked">Nom du bien</ion-label>
        <ion-input disabled="false" formControlName="nomBien" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description du bien</ion-label>
        <ion-input disabled="false" formControlName="description" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Prix plancher (€)</ion-label>
        <ion-input type="number" value="0" min="0" formControlName="prix" required></ion-input>
      </ion-item>
    </div>
    <div align="center">
      <ion-button type="submit" routerLink="/encheres">Créer</ion-button>
    </div>
  </form>
</ion-content>



