<ion-content align="center">
  <ion-row>
    <ion-col>
      <!-- Logo -->
      <img src="assets/icon/encheres-img.jpg">
      <!--Login and Password Input with stacked label-->
      <ion-item>
        <ion-label position="stacked">Login</ion-label>
        <ion-input clearInput placeholder="abdc@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
      <ion-input clearInput type="password" placeholder="1MotdePasseFort!$"></ion-input>
      </ion-item>
      <ion-button href="/home">Se connecter</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>Pas encore inscrit ?</p>
      <ion-button size="small" fill="outline" href="/inscription">S'inscrire</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
