<ion-content>
  <form [formGroup]="validationsForm">
    <div class="padding">
      <div class="logo">
        <!-- Logo -->
        <img src="assets/icon/inscription-img.jpg">
      </div>
      <!--Login and Password Input with stacked label-->
      <ion-item>
        <ion-label position="stacked">Login</ion-label>
        <ion-input clearInput placeholder="abdc@gmail.com" formControlName="email" #email></ion-input>
      </ion-item>

      <br>
      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input clearInput type="password" placeholder="1MotdePasseFort!$" formControlName="password" #password></ion-input>
      </ion-item>

    </div>
    <br>
    <div align="center">
      <ion-button type="submit" (click)="logIn(email, password)" [disabled]="!validationsForm.valid">Se connecter</ion-button>
    </div>
    <div align="center">
      <p>Pas encore inscrit ?</p>
      <ion-button size="small" fill="outline" routerLink="/inscription">S'inscrire</ion-button>
    </div>
  </form>

  <form>
    <ion-row>
      <ion-col>
        <div align="center">
          <ion-button
            type="submit"
            color="light"
            (click)="authService.googleAuth()">
            <img src="https://img.icons8.com/color/48/000000/google-logo.png"/>
            Login with Google
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
