<ion-content>
  <div class="padding">
    <div class="logo">
      <!-- Logo -->
      <img src="assets/icon/inscription-img.jpg">
    </div>
    <!--Login and Password Input with stacked label-->
    <ion-item>
      <ion-label position="stacked">Login</ion-label>
      <ion-input clearInput placeholder="abdc@gmail.com"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Mot de passe</ion-label>
    <ion-input clearInput type="password" placeholder="1MotdePasseFort!$"></ion-input>
    </ion-item>
  </div>
  <br>
  <div align="center">
      <ion-button routerLink="/encheres">Se connecter</ion-button>
  </div>
  <div align="center">
    <p>Pas encore inscrit ?</p>
    <ion-button size="small" fill="outline" routerLink="/inscription">S'inscrire</ion-button>
  </div>
</ion-content>
