<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start">
      <ion-menu-button color="dark" menu="main-menu"></ion-menu-button>
    </ion-button>
    <ion-title size="large">Autour de moi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card *ngFor="let enchere of encheresList">
  <ion-icon name='bag-handle'></ion-icon>
  <ion-card-title>{{enchere.enchereNom}}</ion-card-title>
  <ion-card-subtitle>{{enchere.enchereDescription}}</ion-card-subtitle>
  <ion-item>
    <ion-card-content>{{enchere.encherePrix}}</ion-card-content>
    <ion-button fill="outline">5:00</ion-button>
    <ion-button routerLink="/une-enchere">Enchérir</ion-button>
  </ion-item>
</ion-card>
</ion-content>
