<ion-content>
  <ion-card *ngFor="let achat of myAchatsList">
    <ion-icon name='bag-handle'></ion-icon>
    <ion-card-title>{{achat.nomBien}}</ion-card-title>
    <ion-card-subtitle>{{achat.description}}</ion-card-subtitle>
    <ion-item>
      <ion-card-content>{{achat.prix}}€</ion-card-content>
    </ion-item>
    <ion-item>
      <!-- TODO : afficher la date de livraison s'il y en a une-->
      <ion-card-content>Livraison prévue le : </ion-card-content>
    </ion-item>
  </ion-card>
</ion-content>
